.form{
    width: 80%;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
}

.registerBody{
    background-color: #A0CFEB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110vh;
}
